<h1> This is my Ansible Node </h1>
<h1> This is my Node OS:"{{ansible_os_family}}" </h1>
<h1> This is my Node IP:"{{ansible_all_ipv4_addresses}}" </h1>
<h1> my java Pack: "{{myjavapackforubuntu}}" </h1>
